.Header {
    padding: 10px 0;
}

.sticky {

}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.header__nav ul {
    margin-right: 50px;
}

.header__nav ul li {
    display: inline-block;
    margin-left: -4px;
}

.header__nav ul li a {
    display: inline-block;
    text-decoration: none;
    padding: 0 20px;
    font-weight: 500;
    position: relative;
}

.header__nav ul li a::after {
    content: "";
    position: absolute;
    bottom: -10%;
    left: 16%;
    height: 1px;
    width: 0%;
    background: #5e2ced;
    transition: .5s;
}

.header__nav ul li a:hover::after {
    width: 70%;
    color: #5e2ced;
}

.active {
    position: relative;
    color: #5e2ced;
}

.active::after {
    content: "";
    position: absolute;
    bottom: -10%;
    left: 16%;
    height: 1px;
    width: 70% !important;
    background: #5e2ced;
}

.mobile__menu {
    display: none;
}

@media all and (min-width: 200px) and (max-width: 991px) {
    .desktop__menu {
        display: none;
    }

    .mobile__menu {
        display: block;
        position: relative;
    }

    .mobile__menu ul {
        text-align: left;
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
        width: 250px;
        border-radius: 10px;
        background: #fff;
        border: 1px solid #5e2ced;
    }

    .mobile__menu ul li {
        display: block;
        margin-left: 0;
        margin-bottom: 15px;
    }

    .mobile__icon {
        font-size: 25px;
        cursor: pointer;
    }
}