@import '../../../../styles/global';

.ProjectBox {
    border: 5px solid $primary-color;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;

    &:hover .project__detail{
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }
}

.project__img {
    position: relative;

    img {
        border-radius: 10px;
    }

    .project__detail {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        text-align: center;
        background: #5f2ced7e;
        border-radius: 10px;
        opacity: 0;
        visibility: hidden;
        transform: scale(0);
        transition: .5s;

        h4 {
            color: #fff;
            margin-top: 50px;
            font-size: 26px;
            text-transform: uppercase;
            font-weight: 600;
        }

        .project__btn {
            button {
                display: inline-block;
                border: none;
                outline: none;
                height: 35px;
                width: 120px;
                margin-top: 15px;
                background: #fff;
                border-radius: 5px;
                color: $primary-color;
                font-weight: 500;
                cursor: pointer;
            }
        }
    }
}