.AboutBox__content__title {
    h3 {
        color: #051441;
        font-size: 20px;
        font-weight: 600;
        margin: 20px 0;
    }
}

.AboutBox__content__descrition {
    p {
        color: #677294;
        font-size: 16px;
        font-weight: 300;
    }
}