.MySkills {
    padding: 100px 0;
}

.myskills__title {
    text-align: center;
    h2 {
        color: #222d39;
        font-size: 35px;
        font-weight: 600;
    }

    p {
        color: #677294;
        font-size: 16px;
        font-weight: 300;
        text-transform: capitalize;
    }
}

.myskills__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin-top: 70px;
}