.SingleFeature {
    padding: 60px 30px;
    text-align: center;
    border-radius: 10px;
    transition: .4s;
    cursor: pointer;

    &:hover {
        box-shadow: 0 50px 80px 0 rgba(0, 11, 40, .08);
    }
}

.singleFeature__img {
    width: 300px;
    text-align: center;
    margin: 0 auto;
}

.singleFeature__title {
    h3 {
        color: #051441;
        font-size: 20px;
        font-weight: 500;
        margin: 15px 0;
    }
}

.singleFeature__decription {
    p {
        color: #677294;
        font-size: 15px;
        font-weight: 400; 
    }
}